.rodape {
    display: flex;
    justify-content: space-around;
    gap: 0.2%;
    position: relative;
    left: 4%;
    padding-top: 2%;
    width: 100%;
}


.rodape__conteudo {
    list-style: none;
}

.rodape__conteudo__titulo {
    padding-bottom: 5%;
    font: 500 16px/1.2em 'Ubuntu', sans-serif;
    color: #fff;
}

.rodape__conteudo__item {
    padding: 1%;
    font: 300 13px/20px 'Ubuntu', sans-serif;
    color: #a4b2c8;
}