footer {
    padding: 69px 0 94px;
    background-color: bisque;
    overflow: auto;
}

.footer_conteudo {
    padding: 5px;
    border: none;
    margin: 0 200px 0 0;
    float: left;
    position: relative;
    left: 190px;
}